.headercontainer{
    position:absolute;
    color: rgb(31, 31, 31);
    top: 0;
    left: 0;
    width: 270px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.87);
}

.headercontainer div{
    display: inline-block;
}

.menu ul{
    margin: 3px;
    padding: 0px;
}

.menu li{
    display: inline-block;
    padding: 10px;
    border: 1px;
    border-style: none solid;
    transition: 0.3s;
}


.filter{
    height: 75px;
    background-color: antiquewhite;
}

.logout{
    position: absolute;
    bottom: 10px;
    left: 0;
    margin-left: 10px;
}


.allTasks{
    /* border: 1px solid rgb(31, 31, 31); */
    height: 200px;
    text-align: left;
    overflow: auto;
    background-color: #c4c4c485;
}

.allTasks::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .allTasks::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .allTasks::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .allTasks::-webkit-scrollbar {
    width: 3px;
  }
