.maincontainer{
    background-color: white;
    width: 1650px;
    margin-left: 270px;
    /* margin-top: 10%; */
    display: inline-flex;
    height: auto;
}

.wild_main_container{
    background-color: white;
    width: 1650px;
    margin-left: 270px;
    margin-top: 10%;
    display: inline-flex;
    height: auto;
}

.wild_main_container h4, .maincontainer h4{
    margin-bottom: 0px;
}

.board{
    background-color: white;
    /* height: 500px; */
    height: 100%;
    /* display: flex; */
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    
}

.month{
    color: rgb(82, 82, 82);
    font-style:oblique;
    margin-bottom: 10px;
}