.cont{
    position: relative;
    height: auto;
    text-align: left;
    border-radius: 5px;
    margin: 0px 7px 7px 7px;
    padding: 10px;
    overflow-wrap: break-word;
}

.cont.non{
    background-color: rgb(124, 124, 124);
}

.cont.low{
    background-color: rgba(0, 190, 25, 0.596);
}

.cont.med{
    background-color: rgb(252, 145, 46);
}


.cont.hig{
    background-color: rgba(204, 19, 19, 0.61);
}

.del{
    background-color: rgb(255, 35, 35);
}

.butt button{
    background-color: transparent;
    border: 2px solid red;
    /* border: none; */
    font-size: 10px;
    padding: 1px, 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.5s;
}

.butt button:hover{
   background-color: red;
}